:root {
  --bg: #dedede;
  --altbg: #dcdcdc;
  background: var(--bg);
  font-size: 12pt;
}
#logout{ background: none; color: #333; }
#logout:hover{ background: none; color: crimson; font-weight: bold; }
button, input[type="button"], input[type="submit"]{
  background: #1976d2;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
input{ padding: 4px 10px !important; }
select{ padding: 4px !important; }
input[type="image"]{ background: slategray; border: 1px solid #ececec; color: #333; }
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled{
  background: #9e9e9e;
  cursor: not-allowed;
  color: #ececec;
}
.links a { font-size: 80%; padding: 2px 5px; }
#tables a, #logins a{ font-size: 88%; background: var(--bg); }
#tables a.active{ color: #313131; }
#tables, #logins{ background: var(--bg); }
.scrollable{
	max-width: 98vw !important;
	overflow: scroll;
	max-height: 600px !important;
}
#content { max-width: 100vw !important; padding: 0; }
.jush-sql, .time { display: inline-block; padding: 5px; }
.time { color: #111; }
#breadcrumb { font-size: 85%; }
.footer div { background: var(--bg); border-top: 1px solid var(--bg) !important; }
.odd { background: var(--altbg) !important; }
.sqlarea .jush { max-width: 98vw !important; font-size: 1.25rem; overflow-wrap: break-word; display: inline-block; }

::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: #829fbd; }
::-webkit-scrollbar-thumb { background: #1976d2; }

#menu {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 270px;
	padding: 0;
	border-right: 1px #ccc solid;
}

#menu p {
	margin: 0;
	padding: 4px 10px;
}

#menu p select {
	width: 100%;
}

#menu h1 {
	height: 25px;
	padding: 0 10px;
	margin: 0;
	line-height: 20px;
	display: block;
}

#menu h1 a {
	font-size: 13px;
}

#menu h1 .version {
	font-size: 9px;
}

#menu * {
	margin: 0;
	padding: 0;
}

#tables {
	margin: 0;
	position: absolute;
	top: 118px;
	bottom: 0;
	left: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 270px;
}

#logins li, #tables li {
    position: relative;
    height: 23px;
}

#logins a {
	display: block;
	margin-top: 5px;
	padding: 0 10px;
}

#tables a {
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	margin-top: 5px;
}

#tables a[href*="select"] {
	position: absolute;
	left: 10px;
	width: 50px;
}

#tables a[href*="table"] {
	position: absolute;
	left: 65px;
	width: 200px;
}

#lang {
	top: -1px;
	right: 2px;
	left: auto;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#content {
	margin: 0;
	padding: 0 10px 10px 10px;
	position: absolute;
	left: 270px;
	right: 0;
	top: 82px;
	bottom: 0;
	overflow: auto;
}

#content h2 {
	display: block;
	margin: 0;
	padding: 0;
	height: 55px;
	position: fixed;
	left: 270px;
	right: 0;
	top: 26px;
	line-height: 55px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}

#breadcrumb {
	position: fixed;
	left: 270px;
	right: 0;
	top: 0;
	height: 25px;
	margin: 0;
	border-bottom: 1px solid #999;
}